@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contacts List</h1>
    <p class="lead">Contacts List is a sample that demonstrates how to build and consume Azure API Apps.</p>
    </div>
